<aside>
    <div class="container text-center">
    <div class="row">
        <div class="col-12 sidebar">
        <a href="/" id="home">Home</a>
        </div>
        <div class="col-12 sidebar">
        <a href="/event" id="events">Event List</a> 
        </div>
        <div class="col-12 sidebar">
        <a href="/vendor" id="vendors"> Vendor List</a>
        </div>
    </div>
</aside>

<section id="eventsProducts">
    
        <h3>Vendors at {{eventName}}</h3>
        <ul>
        {{#each Vendors}}
        <div class= "card">
            <li><a href="/vendor/{{id}}">{{vendorName}}</a></li><br>
            <p>{{description}}</p> 
            {{#each Producs}}
            <div class= "card">
            <img src={{img_url}} alt="" style="object-fit:cover;
            width:100px;
            height:100px;"/>
            <h3>{{productName}}</h3>
            <p>{{description}}</p>
            <p>In Stock: {{inStock}}</p>
            </div>
            {{/each}}           
        </div>
        {{/each}}
        </ul>
    
</section>